<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/boilerplate.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cidar - Build Radiator</title>
</head>
<body>
<div id="container">
  <div class="status-box small">
    <span class="env <%= status_of('P13N_08_WebDriverTests') %>">P13N <span class="health"><%= @status.health %>%</span></span>
    <ol>
      <li class="upstream">
        <span class="env <%= status_of('P13N_02_Build_Gradle') %>">Commit</span>
        <span class="people">
          <% @status.commiters.each do |name| %>
            <img src="/images/<%=name%>.jpg"/>
          <% end %>
        </span>
        <span class="details"><%= @status.buildLabel %></span>
        <span class="commit-message"><%= @status.commit_message %></span>
      </li>
      <li class="upstream">
        <span class="env <%= status_of('P13N_08_WebDriverTests') %>">WebDriver</span>
        <span class="people">
          <% @status.commiters.each do |name| %>
            <img src="/images/<%=name%>.jpg"/>
          <% end %>
        </span>
        <span class="details"><%= @status.buildLabel %></span>
        <span class="commit-message"><%= @status.commit_message %></span>
      </li>
      <li class="upstream">
        <span class="small <%= status_of('P13N_04_Deploy_War') %>">Deploy War</span>
        <span class="details"><%= @status.buildLabel %></span>
      </li>
      <li class="upstream">
        <span class="small <%= status_of('P13N_06_RestartTomcat') %>">Restart Tomcat</span>
        <span class="details"><%= @status.buildLabel %></span>
      </li>
    </ol>
  </div>
</div>
</body>
</html>
