<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/boilerplate.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cidar - Build Radiator</title>
</head>
<body>
<div id="container">
  <div class="status-box small">
    <span class="heading env <%= status_for('p13n') %>"><%= @info.name %></span>
    <ol>
      <% for @job in @info.jobs %>
          <li class="upstream">
            <div class="jobDetails">
              <span class="env <%= @job.status? %>">
                <%= @job.name %><span class="health"> <%= @job.health %>%</span></span>
              <span class="details"><%= @job.buildLabel %></span>
              <span class="commit-message"><%= @job.commit_message %></span>
            </div>
            <div class="committers">
              <span class="people">
                <% @job.commiters.each do |name| %>
                  <img src="/images/<%= name %>.jpg"/>
                <% end %>
              </span>
            </div>
          </li>
      <% end %>
    </ol>
  </div>
</div>
</body>
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script defer src="js/global.js"></script>
</html>
